/* --- General Styles --- */
body {
  margin: 0;
  font-family: 'Segoe UI', Arial, sans-serif;
  line-height: 1.6;
  background-color: #fdfdfd;
  color: #333;
}

header {
  display: flex;
  justify-content: space-between; /* logo à gauche, nav à droite */
  align-items: center;             /* aligne verticalement */
  padding: 15px 40px;
  background-color: #f0f8ff;
  color: 	#333;
  position: sticky;
  top: 0;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.logo a {
  text-decoration: none;  /* supprime le soulignement */
  font-size: 40px;
  color: #808080;            /* même couleur que le header */
  font-weight: 500;
}

.logo a:hover {
  text-decoration: underline; /* optionnel : effet au survol */
}

/* nav aligné à droite */
nav {
  display: flex;
  gap: 40px; /* espace entre onglets */
}

nav a {
  text-decoration: none;
  color: 	#808080;
  font-size: 40px;
  font-weight: 500;
}

nav a:hover {
  text-decoration: underline;
}

/* Main container */
.container {
  max-width: 900px;
  margin: 50px auto;
  padding: 20px;
}

/* Headings */
h1, h2, h3 {
  color: #004080;
}

/* Footer */
footer {
  text-align: center;
  padding: 20px;
  border-top: 1px solid #ddd;
  color: #666;
  font-size: 14px;
}


body.home {
  background-image: url("fondecran.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
